.body {
  background-color: #ffffff;
  .cardBody {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-left: 180px;
  }
}
.header {
  background: #00a0e9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  font-weight: bold;
}
