.body {
  background-color: #efeff4;
}
.header {
  background: #00a0e9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  font-weight: bold;
}
