.body {
  //   display: flex;
  //   justify-content: center;
  .title {
    font-size: larger;
    // border: 1px solid black;
  }
  .commentCard {
    margin: 10px 10px 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
  }
  .name {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .reply {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}
