.menu {
  background: #00a0e9;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: none;
  padding-top: 1rem;
}
.menu * {
  justify-content: center;
  margin-left: 9rem;
}
